@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-medium.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-bold.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr-Roman";
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
