@media screen and (max-width: 1669px) {
	.container {
		width: 1224px;
	}
	.search {
		max-width: 280px;
	}
	.topmenu > li {
		padding: 0 15px;
	}
	.catalog-box {
		width: 580px;
		height: 400px;
	}
	.catalog-title_bottom {
		font-size: 22px;
	}
	.news-block {
		width: 380px;
	}
	.footer-title {
		font-size: 18px;
	}
	.footer-link {
		font-size: 16px;
	}
	.newsdetail-slider > .newsdetail-img:nth-child(2) {
		margin-right: 0;
	}
	.newsdetail-slider > .newsdetail-img:last-child {
		display: none;
	}
	.item-text {
		padding-bottom: 20px;
	}
	.item-cost_blocks {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-top: 30px;
	}
	.item-button {
		margin-top: 15px;
	}
}

@media screen and (max-width: 1223px) {
	.container {
		width: 960px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.header {
		padding: 20px 0;
	}
	.header-wrapper {
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 0;
	}
	.logo {
		order: 1;
	}
	.search {
		order: 3;
		max-width: 432px;
		margin-top: 15px;
	}
	.feedback {
		order: 4;
		margin-right: 75px;
		margin-top: -20px;
	}
	.mail {
		order: 2;
		margin-left: 0px;
		margin-top: 5px;
	}
	.topmenu > li {
		padding: 0 0 0 20px;
		height: 60px;
	}
	.topmenu > li > a {
		font-size: 15px;
		padding: 22px 0;
	}
	.topmenu > li > a > img:first-child {
		margin-right: 0;
	}
	.section-slider-container {
		margin-top: 55px;
	}
	.section-separator {
		margin-top: 56px;
	}
	.catalog {
		margin: 30px 0;
	}
	.catalog-blok__top {
		margin-top: 30px;
	}
	.h2-border h2 {
		margin-bottom: 10px;
	}
	.catalog-box {
		width: 460px;
		height: 350px;
	}
	.catalog-title_bottom {
		font-size: 16px;
		top: calc(100% - 40px);
		height: 40px;
		padding: 3px 0;
	}
	.catalog-blok__bottom {
		margin: 0;
	}
	.news-blocks {
		margin-top: 30px;
	}
	.news-block {
		width: 380px;
	}
	.news-block {
		width: 300px;
	}
	.news-read {
		margin-top: 20px;
		margin-bottom: 15px;
		padding-right: 10px;
	}
	.detail__section {
		margin-top: 30px;
	}
	p {
		margin: 10px 0;
	}
	.footer {
		margin-top: 30px;
	}
	.footer-blocks {
		margin: 10px 0 30px 0;
		flex-wrap: wrap;
	}
	.footer-block:nth-child(2) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-basis: 100%;
		flex-wrap: wrap;
		margin-bottom: 25px;
		padding-left: 0;
	}
	.footer-logo {
		order: 1;
		flex-basis: 50%;
	}
	.footer-contacts {
		flex-basis: 50%;
		order: 2;
		margin-top: 0;
		padding-left: 35px;
	}
	.footer-mail {
		margin: 0;
		padding: 5px 0;
	}

	.footer-phone {
		margin: 0;
		padding: 5px 0;
	}
	.gallery-bloks {
		justify-content: space-evenly;
	}
	.contacts-box {
		flex-direction: column;
	}
	.contacts-block {
		margin-bottom: 10px;
	}
	.categories-bloks {
		justify-content: space-evenly;
	}
	.item-img {
		background-position: right -40px center;
		min-width: 540px;
	}
}
@media screen and (max-width: 959px) {
	.container {
		width: 470px;
	}
	.header-wrapper {
		justify-content: center;
	}
	.mail,
	.search,
	.nav-pc {
		display: none;
	}
	.feedback {
		margin: 0;
		padding: 0;
	}
	.nav-container {
		justify-content: center;
	}
	.nav-mob,
	.menu-burger_b,
	.mail-burger_b,
	.search-burger_b {
		display: block;
	}
	/***************** burger_b-modal (nav)******************/
	.burger_b-bg {
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		z-index: 12;
		background-color: rgba(0, 0, 0, 0);
	}
	.burger_b-modal {
		position: fixed;
		top: 0px;
		left: 0;
		max-width: 460px;
		border: 1px solid #dedede;
		background-color: #f5f5f5;
		z-index: 15;
	}
	.burger_b-close {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		top: 12px;
		right: -20px;
		height: 15px;
		width: 74px;
		z-index: 16;
		font-family: "HelveticaNeueCyr";
		cursor: pointer;
		color: #262626;
	}
	.burger_b-close > a {
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 12px;
		font-weight: 400;
		line-height: 30px;
		text-decoration: underline;
		color: #262626;
	}
	.burger_b-close > span {
		font-size: 36px;
		font-weight: 400;
		text-decoration: none;
		margin-left: 10px;
	}
	.burger_b-content {
		padding: 25px 40px 15px;
	}
	.nav-burger_b {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.nav-burger_b > li {
		font-family: "HelveticaNeueCyr";
		font-size: 20px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: -1px;
		border-bottom: 1px solid #9c9c9c;
		padding: 10px 0;
	}
	.nav-burger_b > li > a:hover {
		color: var(--secondary);
	}
	.mail-burger_b {
		margin: 0;
	}
	.mail-burger_b > i {
		font-size: 18px;
	}
	.mail-burger_b > a {
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.9px;
		color: var(--primary);
	}
	.search-burger_b {
		border-radius: 6px;
		border: 1px solid #b7b7b7;
		background-color: #ffffff;
		width: 277px;
		margin: 0;
	}
	.input-burger_b {
		width: 240px;
		height: 40px;
		padding-right: 0;
	}
	.submit-burger_b {
		display: inline-block;
		position: relative;
		height: 20px;
		width: 20px;
		top: 5px;
	}
	.nav-burger_b > li:nth-last-child(-1n + 2) {
		border: none;
		padding: 0;
		margin: 12px 0;
	}
	.nav-burger_b > li:last-child {
		margin-bottom: 0px;
	}
	.logo-img {
		margin-right: 40px;
	}
	.topmenu > li:nth-last-child(-1n + 5) {
		display: none;
	}
	.topmenu > li > a.active {
		color: var(--primary);
		font-size: 18px;
	}
	.topmenu > li > a > img:first-child {
		margin-right: 10px;
	}
	.submenu li a.a-sub {
		color: var(--primary);
		padding: 25px 0;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.72;
		text-transform: none;
		padding: 10px 10px 10px 20px;
	}
	.submenu li a.a-sub:hover {
		color: var(--secondary);
	}
	.section-slider-container {
		height: 643px;
		margin-top: 36px;
	}
	.section-slider {
		height: 643px;
	}
	.promo-slide {
		text-align: center;
	}
	.promo-title {
		margin-top: 200px;
		margin-bottom: 0;
		font-size: 26px;
		font-weight: 700;
		line-height: 30px;
	}
	.promo-text {
		font-family: "HelveticaNeueCyr";
		margin-top: 35px 30px 0;
		line-height: 22px;
		font-size: 16px;
		font-weight: 300;
		text-shadow: 0 0 3px #000;
	}
	.promo-button {
		margin-top: 15px;
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 13px;
	}
	.container-slider-pagination {
		bottom: 130px;
	}
	.slider-pagination {
		justify-content: center;
		flex-direction: row;
	}
	.slider-bullet {
		width: 12px;
		height: 12px;
		margin-left: 9px;
	}
	.slider-bullet__active {
		width: 14px;
		height: 14px;
	}
	.container-slider-button {
		bottom: 80px;
	}
	.light-box-slider-btn {
		right: 0;
		bottom: 450px;
	}
	.catalog-blok__top {
		flex-wrap: wrap;
	}
	.catalog-box {
		width: 470px;
		height: 400px;
		margin-bottom: 15px;
	}
	.catalog-title_bottom {
		top: calc(100% - 60px);
		height: 60px;
		padding: 10px 0;
		font-size: 24px;
	}
	.catalog-box_animated {
		padding: 125px 0 150px 0;
	}
	.catalog-blok__bottom {
		display: none;
	}
	.news {
		margin-bottom: 40px;
	}
	.news-blocks > .news-block:nth-last-child(-1n + 2) {
		display: none;
	}
	.news-blocks {
		justify-content: center;
	}
	.news-block {
		width: 415px;
	}
	.news-read {
		padding-top: 25 px;
	}
	.detail__title {
		font-size: 24px;
		padding: 0 13px;
	}
	.detail__description {
		padding: 10px 13px;
	}
	.footer {
		margin-top: 40px;
	}

	/*** footer ***/
	.footer-blocks {
		margin: 10px 0 30px 0;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer-block {
		flex-basis: 50%;
		margin: 0;
		padding: 0;
		margin-bottom: 25px;
	}
	.footer-block:first-child {
		display: flex;
		width: 100%;
		flex-basis: 100%;
		justify-content: center;
	}
	.footer-block:nth-child(2) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-basis: 50%;
		flex-wrap: wrap;
		margin: 0px;
		padding: 0;
	}
	.footer-block:nth-child(3) > div:last-child {
		display: none;
	}
	.footer-logo {
		order: 1;
		display: none;
	}
	.footer-logo__mob {
		display: block;
	}
	.footer-contacts {
		flex-basis: 100%;
		margin: 0;
		padding-left: 0;
	}
	.footer-address > span {
		white-space: initial;
	}

	.footer-address > span,
	.footer-mail > a,
	.footer-phone > a > span {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.7px;
		line-height: 5px;
	}
	.footer-address {
		margin-top: 35px;
		line-height: 18px;
	}
	.footer-address > i {
		font-size: 14px;
	}
	.footer-mail {
		font-size: 14px;
		display: flex;
		align-items: center;
	}
	.footer-phone {
		font-size: 14px;
		padding-top: 10px;
	}
	.footer-title {
		font-size: 16px;
		margin-bottom: 0px;
		letter-spacing: normal;
	}
	.footer-link {
		font-size: 14px;
		line-height: 26px;
		letter-spacing: normal;
	}
	.footer-copyright {
		font-family: "HelveticaNeueCyr";
		text-align: center;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 0.7px;
	}
	.footer-copyright > a {
		font-weight: 500;
	}
	.section-separator {
		margin-top: 36px;
	}
	.news-years {
		margin-bottom: 30px;
		padding: 0 17px;
	}
	.news-years > ul > li {
		font-size: 22px;
	}
	.news-year {
		padding: 7px 7px;
	}
	.newsdetail-slider > .newsdetail-img:first-child {
		margin-right: 0;
	}
	.newsdetail-slider > .newsdetail-img:nth-child(2) {
		display: none;
	}
	.newsdetail-container-slider-btn {
		right: 0px;
		justify-content: space-between;
		bottom: 165px;
	}
	.newsdetail-slider > a > img:first-child {
		width: 330px;
	}
	.newsdetail-container {
		bottom: 200;
	}
	.newsdetail-detail__title {
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.detail__section {
		margin-top: 0;
	}
	.gallery-pages {
		margin-bottom: 0;
	}
	.gallery-page {
		font-size: 15px;
		padding: 3px 8px;
	}
	.contacts-map {
		display: none;
	}
	.contacts-map__mobile {
		display: block;
	}
	.categories-wrapper {
		display: none;
	}
	.item-block {
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	.item-img {
		background-position: right -40px center;
		min-width: 450px;
		margin: 0 0 15px 0;
	}
	.item-text__wrapper {
		padding: 15px;
	}
	.item-cost_blocks {
		padding-top: 20px;
	}
	.item-grid__table {
		max-width: 470px;
		display: inline-grid;
		grid-template-columns: 70px 85px auto auto auto;
		grid-template-rows: repeat(6, auto);
		grid-auto-flow: column;
		gap: 3px 0px;
	}
	.item-table {
		font-size: 10px;
		padding: 0 3px;
	}
	.grid-description {
		border-left: 1px dashed #d0d0d0;
		padding: 0 1px;
		word-break: normal;
	}
	.grid-description__break {
		word-break: break-all;
		border-left: 1px dashed #d0d0d0;
	}
}
